openapi: 3.0.1
info:
  title: Product Management
  version: products
  description: |
    Use the methods in this section to:
      - [create](/openapi/work-with-products#tag/Creating-Product-Cards) and [edit](/openapi/work-with-products#tag/Product-Cards) product cards
      - get [product categories, subjects, characteristics, and brands](/openapi/work-with-products#tag/Categories-Subjects-and-Characteristics)
      - upload [media files](/openapi/work-with-products#tag/Media-Files) for product cards
      - set up [tags](/openapi/work-with-products#tag/Tags) for product search
      - set [prices and discounts](/openapi/work-with-products#tag/Prices-and-Discounts)
      - manage [product inventory](/openapi/work-with-products#tag/Seller-Warehouses-Inventory) and [warehouses](/openapi/work-with-products#tag/Seller-Warehouses), if you work with the sales model from the seller's warehouse
  x-file-name: products
security:
  - HeaderApiKey: []
tags:
  - name: Categories, Subjects, and Characteristics
    description: ''
  - name: Creating Product Cards
    description: ''
  - name: Product Cards
    description: ''
  - name: Media Files
    description: ''
  - name: Tags
    description: ''
  - name: Prices and Discounts
    description: ''
  - name: Seller Warehouses
    description: ''
  - name: Seller Warehouses Inventory
    description: ''
paths:
  /content/v2/object/parent/all:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Products Parent Categories
      description: |
        Returns the list of all products parent categories

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
        </ul>
        </div>
      tags:
        - Categories, Subjects, and Characteristics
      parameters:
        - name: locale
          in: query
          description: |
            Language for response of the `name` field:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      type: object
                      properties:
                        name:
                          description: Category name
                          type: string
                          example: Электроника
                        id:
                          description: Parent category ID
                          type: integer
                          example: 479
                        isVisible:
                          description: Visibility on the site
                          type: boolean
                          example: true
                  error:
                    description: Error flag
                    type: boolean
                    example: false
                  errorText:
                    description: Error description
                    type: string
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: string
                    example: ''
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/object/all:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Subjects List
      description: |
        Returns the list of all available subjects, subjects parent categories and their IDs

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
        </ul>
        </div>
      tags:
        - Categories, Subjects, and Characteristics
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            example: en
          description: |
            Language for response of the `name` field:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
        - name: name
          in: query
          schema:
            type: string
            example: Socks
          description: Search by item name (Socks), the search works by substring and can be conducted in any of the supported languages
        - name: limit
          in: query
          schema:
            type: integer
            example: 1000
            default: 30
            description: Number of search results, maximum 1,000
        - name: offset
          in: query
          schema:
            type: integer
            example: 5000
            default: 0
            description: How many results to skip. For example, with value `10`, the response will start with the 11 element
        - name: parentID
          in: query
          schema:
            type: integer
            example: 1000
          description: Subject parent category ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Categories and subjects
                    items:
                      type: object
                      properties:
                        subjectID:
                          type: integer
                          description: Subject ID
                        parentID:
                          type: integer
                          description: Parent category ID
                        subjectName:
                          type: string
                          description: Subject name
                        parentName:
                          type: string
                          description: Parent category name
                  error:
                    type: boolean
                    description: Error flag
                  errorText:
                    type: string
                    description: Error text
                  additionalErrors:
                    nullable: true
                    description: Additional errors
                    type: string
              example:
                data:
                  - subjectID: 2560
                    parentID: 479
                    subjectName: 3D очки
                    parentName: Электроника
                  - subjectID: 1152
                    parentID: 858
                    subjectName: 3D-принтеры
                    parentName: Оргтехника
                error: false
                errorText: ''
                additionalErrors: null
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/object/charcs/{subjectId}:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Subject Characteristics
      description: |
        Returns list of the subject characteristics by its ID

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
        </ul>
        </div>
      tags:
        - Categories, Subjects, and Characteristics
      parameters:
        - name: subjectId
          in: path
          required: true
          description: Subject ID
          schema:
            type: integer
            example: 105
        - name: locale
          in: query
          description: |
            Language for response of the `subjectName` and `name` fields:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Data
                    items:
                      type: object
                      properties:
                        charcID:
                          type: integer
                          description: Characteristics ID
                        subjectName:
                          type: string
                          description: Subject name
                        subjectID:
                          type: integer
                          description: Subject ID
                        name:
                          type: string
                          description: Characteristic name
                        required:
                          type: boolean
                          description: Characteristic required
                        unitName:
                          type: string
                          description: Unit (sm, gr and others)
                        maxCount:
                          type: integer
                          description: |
                            The maximum number of values that can be assigned to a characteristic when [creating](./work-with-products#tag/Creating-Product-Cards) or [editing](./work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post) product cards.
                            <br>
                            Used only for characteristics with `"charcType":1` — array of strings.
                            <br>
                            For characteristics with `"charcType":4` — number, you can assign only one value.
                            <br><br>
                            For characteristics with `"maxCount":0`, the number of values is unlimited.
                        popular:
                          description: The characteristic is popular with users
                          type: boolean
                        charcType:
                          type: integer
                          description: |
                            Characteristic data type that should be used when [creating](./work-with-products#tag/Creating-Product-Cards) or [editing](./work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post) product cards:
                              -  `1` — array of strings
                              -  `4` — number
                              -  `0` — characteristic is not used
                  error:
                    type: boolean
                    description: Error flag
                  errorText:
                    type: string
                    description: Error description
                  additionalErrors:
                    type: string
                    description: Additional errors
                    nullable: true
                example:
                  data:
                    - charcID: 54337
                      subjectName: Кроссовки
                      subjectID: 105
                      name: Размер
                      required: false
                      unitName: см
                      maxCount: 0
                      popular: false
                      charcType: 4
                  error: false
                  errorText: ''
                  additionalErrors: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/directory/colors:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Color
      description: |
        Provides values of color characteristic.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
        </ul>
        </div>
      tags:
        - Categories, Subjects, and Characteristics
      parameters:
        - name: locale
          in: query
          description: |
            Language for response of the `subjectName` and `name` fields:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      type: object
                      properties:
                        name:
                          description: Color name
                          type: string
                          example: персиковый мелок
                        parentName:
                          description: Parent color name
                          type: string
                          example: оранжевый
                  error:
                    description: Error flag
                    type: boolean
                    example: false
                  errorText:
                    description: Error description
                    type: string
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: string
                    example: ''
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/directory/kinds:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Gender
      description: |
        Provides values of gender characteristic.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
        </ul>
        </div>
      tags:
        - Categories, Subjects, and Characteristics
      parameters:
        - name: locale
          in: query
          description: |
            Language for response of the `subjectName` and `name` fields:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: List of values for sex characteristic.
                    type: array
                    items:
                      type: string
                      example: Мужской
                  error:
                    description: Error flag
                    type: boolean
                    example: false
                  errorText:
                    description: Error description
                    type: string
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: string
                    example: ''
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/directory/countries:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Country of Origin
      description: |
        Provides value of characteristic country of origin.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
        </ul>
        </div>
      tags:
        - Categories, Subjects, and Characteristics
      parameters:
        - name: locale
          in: query
          description: |
            Language for response of the `subjectName` and `name` fields:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    items:
                      type: object
                      properties:
                        id:
                          description: Country ID
                          type: integer
                          example: 15000170
                        name:
                          description: Value of characteristic country of origin
                          type: string
                          example: Китай
                        fullName:
                          description: Full country name
                          type: string
                          example: Китайская Народная Республика
                  error:
                    description: Error flag
                    type: boolean
                    example: false
                  errorText:
                    description: Error description
                    type: string
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: string
                    example: ''
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/directory/seasons:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Season
      description: |
        Provide values of season characteristic

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
        </ul>
        </div>
      tags:
        - Categories, Subjects, and Characteristics
      parameters:
        - name: locale
          in: query
          description: |
            Language for response of the `subjectName` and `name` fields:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Array of values for season characteristic.
                    type: array
                    items:
                      type: string
                      example: демисезон
                  error:
                    description: Error flag
                    type: boolean
                    example: false
                  errorText:
                    description: Error description
                    type: string
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: string
                    example: ''
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/directory/vat:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: VAT Rate
      description: |
        Returns a list of values for the **VAT rate** characteristic

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
        </ul>
        </div>
      tags:
        - Categories, Subjects, and Characteristics
      parameters:
        - name: locale
          in: query
          description: |
            Language for response of the `subjectName` and `name` fields:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
          schema:
            type: string
            example: ru
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: string
                  error:
                    type: boolean
                    description: Error flag
                  errorText:
                    type: string
                    description: Error text
                  additionalErrors:
                    nullable: true
                    type: string
                    description: Additional errors
              example:
                data:
                  - '0'
                  - '10'
                  - '20'
                  - Без НДС
                  - '13'
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/directory/tnved:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: HS-codes
      description: |
        The method provides list of HS-codes by category name and filter by HS-code.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
        </ul>
        </div>
      tags:
        - Categories, Subjects, and Characteristics
      parameters:
        - name: subjectID
          in: query
          required: true
          description: Subject ID
          schema:
            type: integer
            example: 105
        - name: search
          in: query
          description: Search by HS-code. Works only with the subjectID parameter
          schema:
            type: integer
            example: 6106903000
        - name: locale
          in: query
          description: |
            Language for response of the `subjectName` and `name` fields:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
          schema:
            type: string
            example: en
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: Data
                    type: array
                    items:
                      type: object
                      properties:
                        tnved:
                          type: string
                          description: HS-code
                        isKiz:
                          type: boolean
                          description: |
                            - `true` - labeling code is required
                            - `false` - labeling code is not required
                  error:
                    type: boolean
                    description: Error flag
                    example: false
                  errorText:
                    type: string
                    description: Error description
                  additionalErrors:
                    nullable: true
                    type: string
                    description: Additional errors
              example:
                data:
                  - tnved: '6106903000'
                    isKiz: true
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /api/content/v1/brands:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Brands
      description: |
        The method returns list of brands by subject ID.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 5 requests |
        </div>
      tags:
        - Categories, Subjects, and Characteristics
      parameters:
        - name: subjectId
          in: query
          schema:
            type: integer
            example: 1234
          description: Subject ID
          required: true
        - name: next
          in: query
          schema:
            type: integer
            example: 1234
          description: Pagination parameter. Use the `next` value from the response to get the next data batch
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandsResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BrandsResponseError'
              examples:
                BrandsResponseBadRequest1:
                  $ref: '#/components/examples/BrandsResponseBadRequest1'
                BrandsResponseBadRequest2:
                  $ref: '#/components/examples/BrandsResponseBadRequest2'
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BrandsResponseError'
              examples:
                BrandsResponseNotFound:
                  $ref: '#/components/examples/BrandsResponseNotFound'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/tags:
    servers:
      - url: https://content-api.wildberries.ru
    get:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Tags List
      description: |
        Returns seller's tags list

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
        </ul>
        </div>
      tags:
        - Tags
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    properties:
                      id:
                        description: Numeric tag identifier
                        type: integer
                      color:
                        description: Tag color
                        type: string
                      name:
                        description: Tag name
                        type: string
                  error:
                    description: Error flag
                    type: boolean
                    example: false
                  errorText:
                    description: Error description
                    type: string
                    example: ''
                  additionalErrors:
                    description: Additional errors
                    nullable: true
                    type: string
                    example: ''
              example:
                data:
                  - id: 1
                    color: D1CFD7
                    name: Sale
                error: false
                errorText: ''
                additionalErrors: ''
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/tag:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Create a Tag
      description: |
        Creates a tag.

        It is possible to create 15 tags.

        The maximum length of a tag is 15 characters

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
        </ul>
        </div>
      tags:
        - Tags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                color:
                  description: |
                    Tag color.

                    Available colors:
                      - `D1CFD7` — grey
                      - `FEE0E0` — red
                      - `ECDAFF` — purple
                      - `E4EAFF` — blue
                      - `DEF1DD` — green
                      - `FFECC7` — yellow
                  type: string
                  example: D1CFD7
                name:
                  description: Tag name
                  type: string
                  example: Sale
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseContentError'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
              examples:
                responseBodyContentError400:
                  $ref: '#/components/examples/responseBodyContentError400'
                responseBody400LenName:
                  $ref: '#/components/examples/responseBody400LenName'
                responseBodyLimitTag:
                  $ref: '#/components/examples/responseBodyLimitTag'
                responseBodyNameNotExist:
                  $ref: '#/components/examples/responseBodyNameNotExist'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/tag/{id}:
    servers:
      - url: https://content-api.wildberries.ru
    patch:
      x-readonly-method: false
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Update the Tag
      description: |
        Changes tag data: name and color

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
        </ul>
        </div>
      tags:
        - Tags
      parameters:
        - name: id
          in: path
          schema:
            type: integer
            example: 1
          description: Numeric tag ID
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                color:
                  description: Tag color
                  type: string
                  example: D1CFD7
                name:
                  description: Tag name
                  type: string
                  example: Sale
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseContentError'
              examples:
                responseNotFound200:
                  $ref: '#/components/examples/responseNotFound200'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/responseBodyContentError400'
              examples:
                responseBodyContentError400:
                  $ref: '#/components/examples/responseBodyContentError400'
                responseBody400LenName:
                  $ref: '#/components/examples/responseBody400LenName'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
    delete:
      x-readonly-method: false
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Delete the Tag
      description: |
        Deletes the tag

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
        </ul>
        </div>
      tags:
        - Tags
      parameters:
        - name: id
          in: path
          schema:
            type: integer
            example: 1
          description: Numeric tag ID
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseContentError'
              examples:
                responseNotFound200Del:
                  $ref: '#/components/examples/responseNotFound200Del'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
              examples:
                responseBodyContentError400:
                  $ref: '#/components/examples/responseBodyContentError400'
                responseBodyTagNotExist:
                  $ref: '#/components/examples/responseBodyTagNotExist'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/tag/nomenclature/link:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Tag Management in the Product Card
      description: |
        The method allows to add tags to the product card and remove tags from the product card.<br>
        When removing a tag from a product card, the tag itself is not removed.<br>
        It is possible to add 15 tags to a product card.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
        </ul>
        </div>
      tags:
        - Tags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nmID:
                  description: WB article
                  type: integer
                tagsIDs:
                  description: |
                    An array of numeric tag IDs.<br>
                    When removing a tag from a product card, the tag itself is not removed.<br>
                    To add tags to existing ones in the product card, you need to specify in the request the new tags and the tags that are already exist in the product card.
                  type: array
                  items:
                    type: integer
                    description: Numeric tag identifier
            example:
              nmID: 179891389
              tagsIDs:
                - 123456
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseContentError'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseContentError'
              examples:
                IncorrectRequestNm:
                  $ref: '#/components/examples/IncorrectRequestNm'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/get/cards/list:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      tags:
        - Product Cards
      summary: Product Cards List
      description: |
        <div class="description_auth">
          The method is available with the <a href="/openapi/api-information#tag/Authorization/How-to-create-a-personal-access-base-or-test-token">token</a> of the <strong>Promotion</strong> category
        </div>

        Returns the list of created product cards.<br>

        <div class="description_important">
          Product cards from the trash are not provided in the method response. You can get these product cards via <a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1get~1cards~1trash/post">different method</a>
        </div>

        To get **more than 100** product cards, use pagination:
          1. Make the first request:
              <pre>
                {
                  "settings": {
                    "sort": {
                      "ascending": true
                    },
                    "cursor": {
                      "limit": 100
                    },
                    "filter": {
                      "withPhoto": -1
                    }
                  }
                }</pre>
             To get only new or updated product cards after data export, use ascending sorting: `"sort":{"ascending":true}`.
          2. Copy `"updatedAt": "***","nmID":"***"` from the `cursor` in the response and insert into the `cursor` of your next request.
          3. Make the next request.
          4. Repeat 2 and 3 until `total` value in the response is less than the `limit` value in the request. This will mean you got all cards.

        To get only product cards that were created or updated after the previous data export:
          1. Save the `"cursor":{"updatedAt":"***","nmID":"***"}` fields from the last response of the previous data export. When exporting the data, use ascending sorting: `"sort":{"ascending":true}`.
          2. Specify the saved `"cursor":{"updatedAt":"***","nmID":"***"}` fields in the first request. Keep using ascending sorting.
          3. Save the `"cursor":{"updatedAt":"***","nmID":"***"}` fields from the last response of the current data export.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
        </ul>
        </div>
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            example: ru
          description: |
            Language for response of the `name`, `value` and `object` fields:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese

            Not used in the sandbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                settings:
                  type: object
                  description: Settings
                  properties:
                    sort:
                      description: Sort by
                      type: object
                      properties:
                        ascending:
                          type: boolean
                          default: false
                          description: Sort by the `updatedAt` field (`false` - descending, `true` - ascending)
                    filter:
                      description: Filters
                      type: object
                      properties:
                        withPhoto:
                          type: integer
                          description: |
                            Photo:
                              * `0` — only cards without photos
                              * `1` — only cards with photos
                              * `-1` — all cards
                          default: 0
                        textSearch:
                          type: string
                          description: Seller's article, Wildberries article or SKU search
                        tagIDs:
                          type: array
                          description: Tags ID search
                          items:
                            type: integer
                        allowedCategoriesOnly:
                          description: |
                            Category: true — permitted, false — forbidden
                          type: boolean
                        objectIDs:
                          type: array
                          description: Subject ID search
                          items:
                            type: integer
                        brands:
                          type: array
                          description: Brand search
                          items:
                            type: string
                        imtID:
                          description: Merged product cards ID search
                          type: integer
                    cursor:
                      description: |
                        Cursor
                      type: object
                      properties:
                        limit:
                          type: integer
                          maximum: 100
                          default: 10
                          description: Number of cards in response
                        updatedAt:
                          type: string
                          description: Update date and time
                        nmID:
                          type: integer
                          description: WB article for next card page
            example:
              settings:
                sort:
                  ascending: false
                filter:
                  textSearch: '4603743187500888'
                  allowedCategoriesOnly: true
                  tagIDs:
                    - 345
                    - 415
                  objectIDs:
                    - 235
                    - 67
                  brands:
                    - уллу
                    - EkkE
                  imtID: 328632
                  withPhoto: -1
                cursor:
                  updatedAt: '2023-12-06T11:17:00.96577Z'
                  nmID: 370870300
                  limit: 11
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  cards:
                    type: array
                    description: Product cards
                    items:
                      type: object
                      properties:
                        nmID:
                          type: integer
                          description: WB article
                        imtID:
                          type: integer
                          description: |
                            Merged product cards ID.<br>
                            The same for all WB article of group of merged product cards.<br>
                            Every product card has `imtID`, even if is not merged with any other card
                        nmUUID:
                          type: string
                          format: UUID
                          description: Internal system ID of the product card
                        subjectID:
                          type: integer
                          description: Subject ID
                        subjectName:
                          type: string
                          description: Subject name
                        vendorCode:
                          type: string
                          description: Seller's article
                        brand:
                          type: string
                          description: Brand
                        title:
                          type: string
                          description: Product title
                        description:
                          type: string
                          description: Product description
                        needKiz:
                          description: |
                            Is a [labeling code](https://chestnyznak.ru/en) required for the product
                            <br>
                            * `false` — labeling code is not required
                            <br>
                            * `true` — labeling code is required
                          type: boolean
                        photos:
                          type: array
                          description: Photo array
                          items:
                            type: object
                            properties:
                              big:
                                description: URL of `900x1200` photo
                                type: string
                              c246x328:
                                description: URL of `248x328` photo
                                type: string
                              c516x688:
                                description: URL of `516x688` photo
                                type: string
                              square:
                                description: URL of `600x600` photo
                                type: string
                              tm:
                                description: URL of `75x100` photo
                                type: string
                        video:
                          type: string
                          description: Video URL
                        wholesale:
                          type: object
                          description: Wholesale
                          properties:
                            enabled:
                              type: boolean
                              description: Is the product card intended for wholesale
                            quantum:
                              type: number
                              format: uint64
                              description: Number of product units per package
                        dimensions:
                          description: Dimensions and weight of packed product in cm and kg
                          type: object
                          properties:
                            length:
                              type: integer
                              description: Length, cm
                            width:
                              type: integer
                              description: Width, cm
                            height:
                              type: integer
                              description: Height, cm
                            weightBrutto:
                              type: number
                              description: Weight, kg<br>Number of decimal places <=3
                            isValid:
                              type: boolean
                              description: |
                                Potential inaccuracy of product dimensions:

                                - `true` — not detected. `"isValid": true` does not guarantee that the dimensions are correct. In some cases (for example, when creating a new product category), `"isValid": true` will be returned for any values except zero.

                                - `false` — the specified dimensions significantly differ from the average for the category (subject). it is recommended to double-check whether the product dimensions in the packaging are correctly specified in `centimeters`. The functionality of the product card, including the calculation of logistics and storage, will not be limited. Logistics and storage will continue to be calculated based on the current dimensions. Also, `"isValid": false` is returned when there are missing values or any dimension is zero.
                        characteristics:
                          type: array
                          description: Characteristics
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Characteristic ID
                              name:
                                type: string
                                description: Characteristic name
                              value:
                                description: Characteristic value
                        sizes:
                          type: array
                          description: Product sizes
                          items:
                            type: object
                            properties:
                              chrtID:
                                type: integer
                                description: Size ID
                              techSize:
                                type: string
                                description: Size (for example, S or 42)
                              wbSize:
                                type: string
                                description: Russian size
                              skus:
                                type: array
                                description: SKU
                                items:
                                  type: string
                                  example: 12345Ejf5
                        tags:
                          description: Tags
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Tag ID
                              name:
                                type: string
                                description: Tag name
                              color:
                                type: string
                                description: |
                                  Tag color:
                                    - `D1CFD7` — grey
                                    - `FEE0E0` — red
                                    - `ECDAFF` — purple
                                    - `E4EAFF` — blue
                                    - `DEF1DD` — green
                                    - `FFECC7` — yellow
                        createdAt:
                          type: string
                          description: Creation date and time
                        updatedAt:
                          type: string
                          description: Update date and time
                  cursor:
                    type: object
                    description: Paginator
                    properties:
                      updatedAt:
                        type: string
                        description: Date and time for next card page
                      nmID:
                        type: integer
                        description: WB article for next card page
                      total:
                        type: integer
                        description: Number of cards
              example:
                cards:
                  - nmID: 12345678
                    imtID: 123654789
                    nmUUID: 01bda0b1-5c0b-736c-b2be-d0a6543e9be
                    subjectID: 7771
                    subjectName: AKF системы
                    vendorCode: wb7f6mumjr1
                    brand: Тест
                    title: Тест-система
                    description: Тестовое описание
                    needKiz: false
                    photos:
                      - big: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/big/1.webp
                        c246x328: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c246x328/1.webp
                        c516x688: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c516x688/1.webp
                        square: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/square/1.webp
                        tm: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/tm/1.webp
                    video: https://videonme-basket-12.wbbasket.ru/vol137/part22557/225577433/hls/1440p/index.m3u8
                    wholesale:
                      enabled: true
                      quantum: 112
                    dimensions:
                      length: 55
                      width: 40
                      height: 15
                      weightBrutto: 6.24
                      isValid: false
                    characteristics:
                      - id: 14177449
                        name: Цвет
                        value:
                          - красно-сиреневый
                    sizes:
                      - chrtID: 316399238
                        techSize: '0'
                        skus:
                          - '987456321654'
                    tags:
                      - id: 592569
                        name: Популярный
                        color: D1CFD7
                    createdAt: '2023-12-06T11:17:00.96577Z'
                    updatedAt: '2023-12-06T11:17:00.96577Z'
                cursor:
                  updatedAt: '2023-12-06T11:17:00.96577Z'
                  nmID: 123654123
                  total: 1
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
            plain/text:
              example: Request body can not be decoded
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/cards/error/list:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: true
      x-category: content
      security:
        - HeaderApiKey: []
      summary: List of Failed Product Cards with Errors
      description: |
        Returns the list of product cards ([drafts](https://seller.wildberries.ru/new-goods/error-cards)) and the list of errors encountered during product card creation or editing.
        <br><br>
        The data is returned in batches. One batch contains:
          - all errors for one `variants` array in one request during product cards [creation](/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post)
          - all errors in one request during product cards [creation with merge](/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post) or [editing](/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post).
        <br><br>
        To get more than 100 batches, use pagination:

          1. Make first request: <br>
              <pre style="background-color: rgb(38 50 56 / 5%); color: #e53935">
                {
                  "cursor": {
                    "limit": 100
                  },
                  "order": {
                    "ascending": true
                  }
                }</pre>
          2. Copy `"updatedAt":"***","batchUUID":"***"` from the response `cursor` and paste into the request `cursor`.
          3. Repeat the request.
          4. Repeat 2 and 3, until you receive in the response `"next":false`. This will mean that you have received all the batches.

        <div class="description_important">
          To delete product card from the errors list, repeat the request for creating or creating with merge and updating request with fixed errors
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 10 requests | 6 s | 5 requests |
        </div>
      tags:
        - Product Cards
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            example: en
          description: |
            Language of subject names:
              - `ru` — Russian
              - `en` — English
              - `zh` — Chinese
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestPublicViewerPublicErrorsTableListV2'
            example:
              cursor:
                limit: 31
                updatedAt: '2025-08-05T17:54:40+08:00'
                batchUUID: bca3744c-1c8b-4588-b345-62af3b2899ae
              order:
                ascending: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responsePublicViewerPublicErrorsTableListV2'
              example:
                data:
                  items:
                    - batchUUID: b15fecaf-57fd-4b63-ab6f-18d630b8793e
                      subjects:
                        wb15j2kjk9:
                          id: 8827
                          name: Автомобили с пробегом
                        wb3g6advyh:
                          id: 8827
                          name: Автомобили с пробегом
                        wb3g7xx8g9:
                          id: 8827
                          name: Автомобили с пробегом
                        wb4uphjn61:
                          id: 8827
                          name: Автомобили с пробегом
                        wb64nayozt:
                          id: 8827
                          name: Автомобили с пробегом
                      brands: {}
                      vendorCodes:
                        - wb64nayozt
                        - wb15j2kjk9
                        - wb3g7xx8g9
                        - wb3g6advyh
                        - wb4uphjn61
                      errors:
                        wb15j2kjk9:
                          - 'Поле Наименование не должно содержать запрещенные символы: 😈 😊 🤨'
                        wb3g6advyh:
                          - 'Поле Наименование не должно содержать запрещенные символы: 😊 🤨 😈'
                        wb3g7xx8g9:
                          - 'Поле Наименование не должно содержать запрещенные символы: 🤯'
                        wb4uphjn61:
                          - 'Поле Наименование не должно содержать запрещенные символы: 😊 🤨 😈'
                        wb64nayozt:
                          - 'Поле Наименование не должно содержать запрещенные символы: 😈 😊 🤨'
                    - batchUUID: 30aa42ec-fb49-45ec-86d5-ddf9911e7e3f
                      subjects:
                        test_pasha1:
                          id: 184
                          name: Рубашки
                      brands: {}
                      vendorCodes:
                        - test_pasha1
                      errors:
                        test_pasha1:
                          - Запрещено использовать E-Mail в поле Наименование
                          - Запрещено использовать E-Mail в поле Описание
                  cursor:
                    next: true
                    updatedAt: '2025-08-25T10:05:21Z'
                    batchUUID: 1cd79751-de1f-46c8-a444-a941d35dde56
                error: false
                errorText: ''
                additionalErrors: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/cards/update:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: content
      tags:
        - Product Cards
      summary: Update Product Cards
      description: |
        Edits product cards. Also use it to add new sizes.

        <div class="description_important">
          The product card is overwritten when updated. So the request must also include those card parameters that you are not going to update. To get their values, use <a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1get~1cards~1list/post">Product Cards List</a> and <a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1get~1cards~1trash/post">Product Cards in Trash List</a>.
        </div>

        You cannot use this method to update or delete:
          - product size barcodes. You can only add additional barcodes
          - the `photos`, `video` and `tags` parameters
          - prices of goods. The price can only be set if you add new sizes

        When adding a new size, specify its price using the `price` parameter. If no `price` is specified in the request, the size price will be `0`. In this case, you can update it using the methods:
          - [Set Prices and Discounts](/openapi/work-with-products#tag/Prices-and-Discounts/paths/~1api~1v2~1upload~1task/post), if [product](/openapi/work-with-products#tag/Prices-and-Discounts/paths/~1api~1v2~1list~1goods~1filter/get) has `"editablePriceSize":false`
          - [Set Size Prices](/openapi/work-with-products#tag/Prices-and-Discounts/paths/~1api~1v2~1upload~1task~1size/post), if [product](/openapi/work-with-products#tag/Prices-and-Discounts/paths/~1api~1v2~1list~1goods~1filter/get) has `"editablePriceSize":true`

        The dimensions of the products can only be specified in `centimeters`, and the weight of packed products must be specified in `kilograms`.
        <br><br>
        If this method response is Success (`200`) but product card was not updated, check errors using [list of failed product cards with errors](/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post).<br>
        With one request you can edit maximum 3000 product cards (`nmID`). Maximum request size is 10 Mb.<br>
        The process of synchronizing data with services may take up to 30 minutes. During this time, you can't add inventory to warehouses and set prices.


        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 10 requests | 6 s | 5 requests |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required:
                  - nmID
                  - vendorCode
                  - sizes
                minimum: 1
                maximum: 3000
                properties:
                  nmID:
                    type: integer
                    description: WB article
                  vendorCode:
                    type: string
                    description: Seller's article
                  brand:
                    type: string
                    description: Brand
                  title:
                    type: string
                    description: Product title
                    maxLength: 60
                  description:
                    type: string
                    description: |
                      Product description<br>
                      The maximum number of characters depends on the product category<br>
                      Standard — 2000, minimum — 1000, maximum — 5000<br>
                      More details about description rules in **Product card filling rules** in [Instructions](https://seller.wildberries.ru/help-center/article/A-113) category of sellers portal
                  dimensions:
                    description: |
                      Dimensions and weight of the product `with packaging`. <br>
                      Specify in `centimeters` and `kilograms` for any product. <br>
                      The process of synchronizing new data with service may take up to 30 minutes
                    type: object
                    properties:
                      length:
                        type: integer
                        description: Length, cm
                      width:
                        type: integer
                        description: Width, cm
                      height:
                        type: integer
                        description: Height, cm
                      weightBrutto:
                        type: number
                        description: Weight, kg<br>Number of decimal places <=3
                  characteristics:
                    type: array
                    description: |
                      Product characteristics
                      <br>
                      Use the [Subject characteristics](./work-with-products#tag/Categories-Subjects-and-Characteristics/paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get) method to get characteristics of the product
                    items:
                      type: object
                      required:
                        - id
                        - value
                      properties:
                        id:
                          type: integer
                          description: Characteristic ID
                        value:
                          description: |
                            Characteristic values.
                            <br>
                            Data type — array of strings or number — depends on the characteristic data type. For more details see the description of the `charcType` field in the [Subject characteristics](./work-with-products#tag//paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get) method.
                            <br>
                            The allowed number of values is specified in the `maxCount` field of the [Subject characteristics](./work-with-products#tag//paths/~1content~1v2~1object~1charcs~1%7BsubjectId%7D/get) method
                  sizes:
                    type: array
                    description: |
                      Product sizes<br>
                      If product has no sizes, send only SKUs
                    items:
                      type: object
                      properties:
                        chrtID:
                          type: integer
                          description: |
                            WB article of this size<br>
                            Required for existing sizes<br>
                            If you add new size, do not send this ID
                        techSize:
                          type: string
                          description: Size (for example, XL, S, 45)
                        wbSize:
                          type: string
                          description: Russian size
                        price:
                          type: integer
                          description: |
                            Price, ₽<br>
                            Specified when adding the size
                        skus:
                          type: array
                          items:
                            type: string
                          description: SKUs
              example:
                - nmID: 11111111
                  vendorCode: wbiz72wmro
                  brand: ''
                  title: Свитер женский оверсайз с горлом
                  description: '12345'
                  dimensions:
                    length: 35
                    width: 40
                    height: 15
                    weightBrutto: 3
                  characteristics:
                    - id: 14177450
                      value:
                        - хлопок 50% акрил 50%
                    - id: 50
                      value:
                        - свободный крой
                  sizes:
                    - chrtID: 12345678
                      techSize: ONE SIZE
                      wbSize: 78-90
                      skus:
                        - '123487653460134'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseCardCreate'
              example:
                data: null
                error: false
                errorText: ''
                additionalErrors: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '413':
          description: The request body size exceeds the given limit
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Error title
                  detail:
                    type: string
                    description: Error details
                  code:
                    type: string
                    description: Internal error code
                  requestId:
                    type: string
                    description: Unique request ID
                  origin:
                    type: string
                    description: WB internal service ID
                  status:
                    type: number
                    description: HTTP status code
                  statusText:
                    type: string
                    description: Text of the HTTP status code
              example:
                title: request body too long
                detail: https://openapi.wildberries.ru/content/api/ru/
                code: 71d3de1b-001e-488f-bbf5-55c31254fbeb
                requestId: MN8usr6RfrzWHZfucSvNgb
                origin: s2s-api-auth-content
                status: 413
                statusText: Request Entity Too Large
        '429':
          $ref: '#/components/responses/429'
  /content/v2/cards/moveNm:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: content
      tags:
        - Product Cards
      summary: Merging or Separating of Product Cards
      description: |
        The method merges and separates product cards. Product cards are merged if they have the same `imtID`.<br><br>

        To merge product cards, make a request **specifying** the `imtID`. You can merge up to 30 product cards at a time.<br>

        To separate product cards, make a request **without specifying** the `imtID`. New `imtID`s will be generated for the separated cards.<br><br>

        If you separate multiple product cards simultaneously, these cards will merge into one and receive a new `imtID`.<br>

        To assign a unique `imtID` to each product card, you need to send one product card per request.<br><br>

        The maximum request size is 10 MB.

        <div class="description_important">
          It is possible to merge product cards containing only the same subjects
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
        </ul>
        </div>
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/requestMoveNmsImtConn'
                - $ref: '#/components/schemas/requestMoveNmsImtDisconn'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseCardCreate'
              example:
                data: null
                error: false
                errorText: ''
                additionalErrors: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/responseCardCreate'
                  - $ref: '#/components/schemas/responseIncorrectDate'
              examples:
                responseExceededLimit:
                  $ref: '#/components/examples/responseExceededLimit'
                responseCombining:
                  $ref: '#/components/examples/responseCombining'
                responseIncorrectRequestFormat:
                  $ref: '#/components/examples/responseIncorrectRequestFormat'
                responseNonExistentNmId:
                  $ref: '#/components/examples/responseNonExistentNmId'
                responseNonExistentImt:
                  $ref: '#/components/examples/responseNonExistentImt'
                responseCardCreate1:
                  $ref: '#/components/examples/responseCardCreate1'
                responseDuplicateRequests:
                  $ref: '#/components/examples/responseDuplicateRequests'
                responseAllCardsInSameGroup:
                  $ref: '#/components/examples/responseAllCardsInSameGroup'
                responseIncorrectBeginDate:
                  $ref: '#/components/examples/responseIncorrectBeginDate'
                responseIncorrectEndDate:
                  $ref: '#/components/examples/responseIncorrectEndDate'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseCardCreate'
        '413':
          description: The request body size exceeds the given limit
          content:
            application/json:
              schema:
                type: string
              examples:
                BodySizeExceedsTheGivenLimit:
                  $ref: '#/components/examples/BodySizeExceedsTheGivenLimit'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/cards/delete/trash:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Transfer Product Card to Trash
      description: |
        Transfers the product card to the trash. In doing so, the product card would not be deleted.

        <div class="description_important">
          When transferring product cards to the trash, this product card is removed from the product card, meaning it is assigned a new <code>imtID</code> — merged product cards ID
        </div>

        After 30 days in the trash the product card would be deleted automatically. The trash is cleared every night according to Moscow time.<br>
        The product card can be deleted at any time in [personal account](https://seller.wildberries.ru/new-goods/basket-cards).
        <br><br>
        A card will remain for sale as long as there is any inventory left, even if moved to the trash. To completely remove the card from sale, set its inventory to zero.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
        </ul>
        </div>
      tags:
        - Product Cards
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nmIDs:
                  description: Wildberries articles
                  minimum: 1
                  maximum: 1000
                  type: array
                  items:
                    type: integer
            example:
              nmIDs:
                - 123456789
                - 987654321
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    nullable: true
                  error:
                    description: Error flag
                    type: boolean
                  errorText:
                    description: Error description
                    type: string
                  additionalErrors:
                    nullable: true
                    description: Any additional errors
                    type: object
              example:
                data: null
                error: false
                errorText: ''
                additionalErrors: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
        '429':
          $ref: '#/components/responses/429'
  /content/v2/cards/recover:
    servers:
      - url: https://content-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: content
      security:
        - HeaderApiKey: []
      summary: Recover Product Card from Trash
      description: |
        Returns the product card from trash

        <div class="description_important">
          When restoring the product card from the trash, its <code>imtID</code>  — merged product cards ID — doesn't remain the same as it was for the product card in the trash
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
[...]
